.SignInButton {
  font-size: 1.5rem;

  border: 1px solid white;
  padding: 25px 35px;
  transition: .3s ease-in;

  &:hover {
    background-color: aquamarine;
    color: black;
    scale: 1.2;
  }
}